<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PVM skaičiuoklė 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="col-md-6 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row mt-7 justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <p class="text-center">Kainų PVM Skaičiuoklė</p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/">
                        <div class="d-inline-flex p-2">
                            <label class="form-label">
                                <p class="text-center"> Įveskite prekės kainą (Eur):</p>
                            </label>
                            <input type="text" name="kaina" class="form-control">
                        </div>
                        <div class="d-inline-flex p-2">
                            <label class="form-label">
                                <p class="text-center"> Įveskite prekių kiekį (vnt.):</p>
                            </label>
                            <input type="text" name="kiekis" class="form-control">
                        </div>
                        <div class="text-center">
                        <button class="btn btn-info">
                            <p class="text-center">Apskaičiuoti prekės PVM</p>
                        </button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>